header{
    height: 50px;
    background-color: rgb(55, 119, 55);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 700px;
}
button{
    border: none;
    border-radius: 15px;
    font-size: 17px;
}
li
{
cursor: pointer;
color: white;
}